.navbar {
    background-color: #34495e !important; /* Color de fondo */
    color: #ffffff !important; /* Color del texto */
}

.navbar a {
    color: #ffffff !important; /* Color de los enlaces */
}

.navbar a:hover {
    color: rgb(255, 242, 247) !important; /* Color de los enlaces al pasar el mouse */
}

h2 {
    text-align: center !important;
    font-size: 2.5rem !important; /* Aumentar el tamaño de la fuente */
    color: #34495e !important; /* Cambiar el color del texto a un rojo más brillante */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) !important; /* Sombra suave para el texto */
    margin: 20px 0 !important; /* Espaciado superior e inferior */
    font-weight: bold !important; /* Hacer el texto en negrita */
}

.carousel-item {
    font-size: 150%;
}

.col-md-6, .col-sm-12, .col-lg-4 {
    background-color: rgb(255, 242, 247); /* Color de fondo rosa claro */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio entre filas */
}

.row {
    padding-top: 1%;
}

.opciones {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-decoration: underline;
}

#no {
    background-color: white;
}

.navbar-nav > li {
    margin-left: 50%;
    margin-right: 50%;
}

@media (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        text-align: left; /* Align text to the left */
    }
    .nav-item {
        width: 100%; /* Ensure nav items take full width */
        text-align: left;
    }
    .navbar-nav > li {
        margin-left: 0;
        margin-right: 0;
    }
}
